@using OnlineTestingProject.Models
@model Group

@{
    ViewBag.Title = Model.Name;
}

<h2>Группа @Model.Name</h2>
<br />
    @using (Html.BeginForm("AddUser", "Admin", FormMethod.Post))
    {
        @Html.Label("Введите логин пользователя");
        @Html.TextBox("userline", "Введите логин");
        @Html.Hidden("grId", @Model.GroupId)
        <input type="submit" value="Добавить пользователя"/>
    }
<h2>Пользователи в группе</h2>
@foreach (ApplicationUser user in ViewBag.usersList)
{

    <div>
        @user.UserName
    </div>
}


